

    <div class="row m-0">
        <div class="col col-lg-12 box-logo">
            <h1 class="title">Invoice</h1>

            <div class="box-invoice" *ngIf="invoiceNumber">
                <p><span>Invoice number:</span> {{invoiceNumber}}</p>
                <p><span>Issued on:</span> {{issuedOn | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="col col-lg-6">
            <div class="box-person">
                <p class="name">Alan Smith</p>
                <p class="data">25/05/1980</p>
                <p class="info">Passport: B0987987</p>
                <p class="info">Issuing country: Italy</p>
                <p class="info">Residency country: Malta</p>
            </div>
        </div>

        <div class="col col-lg-6">
            <div class="box-company">
                <p class="name">Blue Apparell</p>
                <p class="vat">07647380968</p>
                <p class="info">Via Milano, 1</p>
                <p class="info">20091 Milano - IT</p>
            </div>
        </div>
    </div>

