
@import "../../../_sass/_variables";

.box-logo{
    margin-bottom:40px;
    text-align: right;

    h1{
        &.title{
            text-align: right;
            color:rgb(77, 153, 240);
            font-weight: 500;
        }
    }

    p{
        font-weight: 400;

        span{
            font-weight: 600;
        }
    }
}

.box-person, .box-company{

    .name{
        font-weight: 600;
    }

    p{
        @media (max-width: $sm-device){
            font-size:11px;
        }
    }
}

.box-company{
    text-align: right;
}