
@import "./_sass/_variables.scss";

html,body{
    height:100%;
}

body {
    background-color: #f8f8f8;
    font-size: 14px;
    font-family: $font-family-base;
    line-height: 1.7;
    width: 100%;
    height: 100%;
  }
  
  .h1, h1 { 
    font-family: $font-family-base;
    font-weight: 800;
  }
  
  .h3, h3{ 
    font-family: $font-family-base;
    line-height: 50px;
    font-size:25px;
    font-weight: 900;
    color:#465e6a;
    }

  .h4, h4{
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 600;
    color:#465e6a;
  }
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: normal;
  }
  
  p {
    font-family: $font-family-base;
    line-height: 28px;
    letter-spacing: 1px;
    margin:0;
  }

  img{
      max-width: 100%;
  }

  *:active, *:focus {
    outline: none !important;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }


  .container{
      background: #fff;
      margin-top: 40px;
      margin-bottom: 40px;
      position: relative;
      padding-top:30px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  }