
    <div class="row box-table-title">
            <div class="col col-md-2"><p>Code</p></div>
            <div class="col col-md-3"><p>Description</p></div>
            <div class="col col-md-2"><p>Qty</p></div>
            <div class="col col-md-2">
                <p>Price</p>
                <span>inc. VAT</span>
            </div>
            <div class="col col-md-1"><p>VAT</p></div>
            <div class="col col-md-2"><p>Net</p></div>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
                
        <div class="form-group" *ngIf="cartItems.length > 0; else noData" formArrayName="selling_points">
             
            <div class="row box-chackout-prod" *ngFor="let item of cartItems; let pointIndex=index" [formGroupName]="pointIndex">
                    <button type="button" class="btn-update btn-remove" (click)="deleteSellingPoint(pointIndex)" [disabled]="disableInput == true">-</button>
                    <div class="col col-md-2 check-p checkout-prod-name">
                        <input type="text" formControlName="code" placeholder="Code" value="{{item.code}}" (keyup)="addCode(pointIndex, $event.target.value)" />
                    </div>
                    <div class="col col-md-3 check-p checkout-prod-name">
                        <input type="text" name="description" formControlName="description" placeholder="Description" value="{{item.description}}" (keyup)="addDescription(pointIndex, $event.target.value)" />
                        <div class="error-txt" *ngIf="sellingPoints.controls[pointIndex].controls['description'].touched && !sellingPoints.controls[pointIndex].controls['description'].valid || (sellingPoints.controls[pointIndex].controls['description'].untouched && this.formSubmitAttempt)" >
                            <div class="error" *ngIf="sellingPoints.controls[pointIndex].controls['description'].hasError('validLength')">
                                    Least 5 characters long
                            </div>
                        </div>
                    </div>
                    
                    <div class="col col-md-2 check-p">
                        <span class="mobile">Qty</span>
                        <div class="checkout-prod-qty">
                            <button type="button" class="btn-plus" (click)="addQtyItemInCart(pointIndex, 1, item.unitPriceWithVat)" [disabled]="disableInput == true">+</button>
                            <p> {{item.quantity}}</p>
                            <button type="button" class="btn-minus" (click)="removeQtyItemToCart(pointIndex, 1, item.unitPriceWithVat)" [disabled]="item.quantity == 1 || disableInput == true" >-</button>
                        </div>
                    </div>
                    <!--Here, event.charCode >= 48 ensures that only numbers greater than or equal to 0 are returned, while the min tag ensures that you can come to a minimum of 1 by scrolling within the input bar.-->
                    <div class="col col-md-2 check-p checkout-prod-price">
                        <input id="price" name="price" onkeypress="return event.charCode >= 48" min="0"  formControlName="price" placeholder="€0.00" (keyup)="onKey(pointIndex, $event.target.value, item.quantity)" value="{{item.unitPriceWithVat | currency:currency_code:'symbol-narrow':'1.2-2'}}" OnlyNumber="true" />
                        <div class="error-txt" *ngIf="sellingPoints.controls[pointIndex].controls['price'].touched && !sellingPoints.controls[pointIndex].controls['price'].valid || (sellingPoints.controls[pointIndex].controls['price'].untouched && this.formSubmitAttempt)">
                            <div class="error" *ngIf="sellingPoints.controls[pointIndex].controls['price'].hasError('required')">
                                    Price is required.
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-1 check-p checkout-prod-vat">
                        <select class="vat" (change)="onChange(pointIndex, item.unitPriceWithVat, $event.target.value, item.quantity)" [disabled]="disableInput == true">
                            <option value="22">22%</option>
                            <option value="10">10%</option>
                            <option value="5">5%</option>
                            <option value="4">4%</option>
                        </select>
                    </div>
                    <div class="col col-md-2 check-p checkout-prod-net">
                        <p><span class="mobile">Net</span> {{netItems[pointIndex].net | currency:currency_code:'symbol-narrow':'1.2-2'}}</p>
                    </div>
                  </div>
                  <button type="button" class="btn-update btn-add" (click)="addSellingPoint()" [disabled]="disableInput == true">+</button>
        
                    <div class="col col-lg-12 box-total-checkout">
                        <div class="box-content-tl">
                            <div class="checkout-inv checkout-subtotal">
                                <p><span>Subtotal:</span> <span class="total-value">{{subTotalPrice | currency:currency_code:'symbol-narrow':'1.2-2'}}</span></p>
                                <p class="total-prod">Items: {{getTotalQty() | async}}</p>
                            </div>
            
                            <!--Here, event.charCode >= 48 ensures that only numbers greater than or equal to 0 are returned, while the min tag ensures that you can come to a minimum of 1 by scrolling within the input bar.-->
                            <div class="checkout-inv checkout-subtotal discount">
                                <p>Net discount: <input onkeypress="return event.charCode >= 48" min="0" placeholder="€0.00" min="0" (keyup)="addDiscount($event.target.value)" value="{{discount | currency:currency_code:'symbol-narrow':'1.2-2' }}" [disabled]="disableInput == true"/></p>
                            </div>
            
                            <div class="checkout-inv checkout-total">
                                <p><span>Total:</span> <span class="total-value">{{totalPrice | currency:currency_code:'symbol-narrow':'1.2-2'}}</span></p>
                            </div>
        
                            <div class="checkout-inv checkout-round">
                                <button type="button" class="btn-round-cents" (click)="getRound()" [disabled]="disableInput == true">Round Cents</button>
                            </div>
                        </div>
                    </div>
              </div>
              <ng-template #noData>
                <div class="payment-finish">
                    <p class="no-prod-text">No products in the cart</p>
                </div>
                <button type="button"  class="btn-update btn-add" (click)="addSellingPoint()" [disabled]="disableInput == true">+</button>
              </ng-template>
        
              <div class="backline">
                    <div class="line"></div>
                    <button type="submit" class="btn-invoice" [disabled]="disableInput == true">Create Invoice</button>
                </div>
                <!--{{ this.productForm.value | json }}-->
            </form>
    