
@import "../../../_sass/_variables";

/***************************************
    Checkout
***************************************/

.box-table-title{
    border-bottom:1px solid #ededed;
    border-radius: 2px 2px 0 0;
    text-align: center;
    background: #edeef1;
    margin-top: 40px;
    padding: 12px 10px;

    @media (max-width: $sm-device) {
        display: none;
    }

    p{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: #222;
        margin-bottom: 0;
        position: relative;

        @media (max-width: $sm-device) {
            font-size: 11px;
        }
    }

    span{
        position: absolute;
        left:0;
        right:0;
        color: #8a8989;
        font-size: 11px;
        margin-top: -8px;
    }
}

.box-txt-noprod{
    text-align: center;
    margin-top:40px;
}

.box-chackout-prod{
    text-align: center;
    border-bottom: 1px solid #ddd;
    align-items: center;
    background-color:#fff;
    padding:20px;
    position: relative;

    @media (max-width: $md-device) {
        padding:20px 10px;
    }

    .col{
        @media (max-width: $sm-device) {
            width:100%;
            flex-basis: auto;
        }
    }
    

    &:last-child{
        border-bottom: 2px solid #212121;
    }

    input, select{
        padding:8px 10px;
        border:1px solid #ededed;
        width: 100%;

        &.vat{
            padding: 8px 10px;
        }
    }

    .check-p{
        padding: 10px 10px;

        @media (max-width: $md-device) {
            padding:10px 5px;
        }

        @media (max-width: $sm-device) {
            padding:10px;
        }

        .mobile{
            display:none;

            @media (max-width: $sm-device) {
                display: inline-block;
                margin-right:10px;
            }

        }
    }

    .btn-plus, .btn-minus{
        background: transparent;
        border: 0;
        cursor: pointer;
    }

    .checkout-prod-price{

        input{
            text-align: right;
            opacity:0.6;

            &:focus{
                opacity:1;
            }
        }
    }

    .checkout-prod-qty{
        display: inline-block;
        padding:5px 10px;
        border:1px solid #e2e2e2;

        @media (max-width: $sm-device) {
            padding:3px;
        }

        .btn-plus{ padding-right:15px; }

        .btn-minus{ padding-left:15px; }

        p{
            display: inline-block;
            margin: 0;
        }
    }

    .error-txt{
        .error{
            position: absolute;
            font-size:11px;
            color:#ce0b0b;
        }
    }
}

.box-total-checkout{
    width:100%;
    margin-top: 50px;
    position:relative;
    height: 310px;

    .box-content-tl{
        width:30%;
        position:absolute;
        right: 15px;
        padding-bottom: 60px;

        @media (max-width: $md-device) {
            width:50%;
        }

        @media (max-width: $sm-device) {
            padding: 0 15px;
            width: 100%;
            right: 0;
            left: 0;
        }

        .checkout-inv{
            width: 100%;
            padding:10px 14px;
            font-weight: 600;
    
            &.checkout-subtotal{
            
                p{
                    span{
                        margin-right:0px;
                        text-align: left;
    
                        &.total-value{
                            float: right;
                        }
                    }

                    &.total-prod{
                        font-size: 11px;
                        text-align: right;
                        color: #908d8d;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }

                &.discount{
                    margin-top: 10px;

                    span{
                        margin-right:0px;
                    }

                    input{
                        text-align: right;
                        padding: 8px 14px;
                        border: 1px solid #ededed;
                        width: 50%;
                        right: 0;
                        font-weight: 600;
                        position: absolute;
                        margin-top: -8px;

                        @media (max-width: $sm-device){
                            right:15px;
                        }
                    }
                }
            }
            
            &.checkout-total{
                background: #bfdaab;
                margin-top: 40px;
            
                p{
                    span{
                        margin-right:0px;
                        text-align: left;
    
                        &.total-value{
                            float: right;
                        }
                    }
                }
            }

            &.checkout-round{
                padding:0;
                margin-top:20px;

                button{
                    border:1px solid #1c7df9;
                    color:#4692f7;
                    border-radius: 30px;
                    background:#f8f8f8;
                    padding:7px 20px;
                }
            }
    
        }
    }

}


.btn-update{
    padding: 5px 13px;
    border-radius:50%;
    margin-top: -20px;
    background: #1c7df9;
    color:#fff;
    font-size:16px;
    border:0px;
    float: right;
    position: relative;

    &.btn-add{
        position: absolute;
        right: 20px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    }

    &.btn-remove{
        background: #d60808;
        float: left;
        margin-top: 2px;
        padding: 1px 10px;
        margin-left: -32px;
        margin-right: 5px;
        position: absolute;
        z-index: 99;

        @media (max-width: $md-device) {
            margin-left: -22px;
        }

        @media (max-width: $sm-device) {
            margin-left: 10px;
            margin-top:0;
            bottom:-15px;
        }
    }
}

.backline{
    width:100%;
    text-align: center;
    padding-bottom:60px;

    .line{
        background: linear-gradient(to right,#fff 0,#ffe63e 33%,#58b23d 66%,#000 100%);
        height:4px;
    }

    .btn-invoice{
        margin:40px auto 0px auto;
        padding: 5px 25px;
        border-radius:30px;
        border:1px solid #1c7df9;
        background: #1c7df9;
        color:#fff;
        text-transform: uppercase;
    }

    .btn-invoice[disabled]{
        background: #90aed4;
        border:1px solid #94b9e9;
    }
    
}